

@font-face {
    font-family: 'try_grtskbold_tera_slant';
    src: url('webfontkit-20230331-202657/trygrtsk-boldteraslant-bf64265523ce7ab-webfont.woff2') format('woff2'),
         url('webfontkit-20230331-202657/trygrtsk-boldteraslant-bf64265523ce7ab-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'try_grtskbold_tera';
    src: url('webfontkit-20230331-202657/trygrtsk-boldtera-bf6426552402650-webfont.woff2') format('woff2'),
         url('webfontkit-20230331-202657/trygrtsk-boldtera-bf6426552402650-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'anthro_trialbook_italic';
    src: url('webfontkit-20230331-202657/anthrotrial-bookitalic-bf642635db1bba7-webfont.woff2') format('woff2'),
         url('webfontkit-20230331-202657/anthrotrial-bookitalic-bf642635db1bba7-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'anthro_triallight';
    src: url('webfontkit-20230331-202657/anthrotrial-light-bf642635db1f586-webfont.woff2') format('woff2'),
         url('webfontkit-20230331-202657/anthrotrial-light-bf642635db1f586-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 0;
    background-color: black;
    color: white;
}

canvas {
    width: 100%;
    height: 100%;
}

h1 {
    font-family: 'try_grtskbold_tera_slant', sans-serif;
    font-weight:normal;
    font-style:normal;
    font-size: 40px;
    line-height: 20pt;
    text-shadow: #EEEE00 0 0 10px;
}

h2 {
    font-family: 'try_grtskbold_tera', sans-serif;
    font-weight:normal;
    font-style:normal;
    font-size: 15px;
    line-height: 20pt;
}

p {
    font-family: 'anthro_trialbook_italic', sans-serif;
    font-weight:normal;
    font-style:normal;
    font-size: 14pt;
    line-height: 15pt;
    color: white;
}

a {
    text-decoration: none;
}

a:visited {
    color: white;
}

a:hover, a:active, a:focus {
    text-shadow: #EEEE00 0 0 10px;
  }

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}

.reveal.active{
    transform: translateY(0);
    opacity: 1;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 100px repeat(2, 2fr) 100px;
    grid-template-rows: 130px repeat(4, 1fr) 70px;
    gap: 1.5rem;
    }

.navbar {
    grid-area: 1 / 1 / 2 / 5; 
    justify-self: stretch;
    width: 100%;

    position: fixed;
    top: 0;
    z-index:1;

    align-items: center;
    background-color: black;
}

.navbar ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    margin: 0;
}

.navbar button{
    display: inline-block;
    font-family: 'try_grtskbold_tera_slant', sans-serif;
    font-size: 20px;
    background: none;
	color: white;
	border: none;
	cursor: pointer;
	outline: none;
    padding: 0;
}

.navbar:after {
    content: '';
    position: fixed;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navbar li button:hover {
    text-shadow: #e6e615 0 0 10px;
}

.navbar:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.left-side {
    grid-area: 2 / 1 / 6 / 2;
    display: flex;
    justify-self: center;
    align-items:center;
    font-size: 14px;
    writing-mode: vertical-lr;
}

.right-side {
    grid-area: 2 / 4 / 6 / 5;
    display: flex;
    justify-self: center;
    align-items:center;
    font-size: 14px;
    writing-mode: vertical-rl;
}

.line {
    border-left: 2px solid white;
    height: 600px;
    justify-self: right;
  }


.header {
    grid-area: 2 / 2 / 3 / 4;    
    display: flex;
    overflow: hidden;
}

.header img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.works-container {
    grid-area: 3 / 2 / 4 / 4;

    padding-block: 1.05 rem;
    display: flex;
    flex-direction: columns;
    justify-content: center;
    flex-direction: column;
}

.works-text-box {
    font-family: 'try_grtskbold_tera_slant', sans-serif;
    text-align: center;
}

.card-grid {
    display: flex;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);

    padding-block: 2rem;
    width: min(100%);
    height: 10rem;
    justify-content: space-evenly;
}

.card {
    box-sizing: border-box;
    width: 254px;
    height: 300px;
    background-image: linear-gradient(to bottom, #5A5A5A, black);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    cursor: pointer;
    transition: all 0.5s;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    text-align: center;
}
  
.card:hover {
border: 1px solid white;
transform: scale(1.6);
}

.card:active {
transform: scale(0.95) rotateZ(1.7deg);
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
  
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 

.about-me-container {
    grid-area: 4 / 2 / 5 / 4;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-items: center;

    gap: 1.5rem;
    padding-block: 2rem;
    overflow: hidden;
}

.about-me-textbox {
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: right;
}

.about-me-image {
    grid-column-start: 1;
    grid-column-end: 2;
}

.about-me-image img{
    width: 100%;
    opacity: 0%;
}

.contact-me-container {
    grid-area: 5 / 2 / 6 / 4;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-items: center;

    gap: 1.5rem;
    padding-block: 2rem;
    overflow: hidden;
}

.contact-me-textbox {
    width: 400px;
}

.contact-me-image {
    grid-column-start: 2;
    grid-column-end: 4;
    width: 100%;
}

.contact-me-image img{
    width: 100%;
}

.footer {
    box-shadow: 0 2px 0 white inset;
    grid-area: 6 / 1 / 8 / 5;
    max-width: 100%;
    overflow-x: hidden;
    vertical-align: middle;
    height: 200px;
    overflow: hidden;
}

.footer marquee {
    margin: 0 auto;
    position: absolute;
    max-width: 100%;
    overflow: hidden;
    height: 200px;
}

.footer marquee a{
    color: white;
}

.track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 30s linear infinite;
    font-size: 100pt;
    font-family: 'try_grtskbold_tera_slant', sans-serif;
    max-width: 100%;
    overflow: hidden;
}

/* @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%);}
} */



